<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
		<add key="PYTHONPATH" value="D:\data\HostingSpaces\inclusiondisabledpeople.com\inclusiondisabledpeople.com\wwwroot\" />
		<add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
		<add key="DJANGO_SETTINGS_MODULE" value="inclusiondisabledpeople.settings" />
	</appSettings>
    <system.webServer>
        <handlers>
            <add name="Inclusion_Django_FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\data\HostingSpaces\inclusiondisabledpeople.com\inclusiondisabledpeople.com\wwwroot\env\Scripts\python.exe|D:\data\HostingSpaces\inclusiondisabledpeople.com\inclusiondisabledpeople.com\wwwroot\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
