{% extends "web/base.html" %}
{% load static %}

{% block content %}
<div class="page-content bg-white">
	<!-- Banner  -->
	<div class="dz-bnr-inr dz-bnr-inr-sm style-1 text-center overlay-primary-dark" style="background-image:url('{% static 'images/banner/bnr1.jpg' %}');">
		<div class="container">
			<div class="dz-bnr-inr-entry">
				<h1>About Us</h1>
				<!-- Breadcrumb Row -->
				<nav aria-label="breadcrumb" class="breadcrumb-row">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'index' %}">{% if language == 'en' %}Home{% else %}Hauptseite{% endif %}</a></li>
						<li class="breadcrumb-item active" aria-current="page">{% if language == 'en' %}About Us{% else %}&#220;ber Uns{% endif %}</li>
					</ul>
				</nav>
				<!-- Breadcrumb Row End -->
			</div>
		</div>
	</div>
	<!-- Banner End -->
	<!-- About Us -->
	<section class="content-inner section-wrapper5">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-7">
					<div class="section-head">
						<h5 class="sub-title">{% if language == 'en' %}Who We Are{% else %}Wer wir sind{% endif %}</h5>
						<h2>{% if language == 'en' %}{{ about.title_en | safe }}{% else %}{{ about.title_ge | safe }}{% endif %}</h2>
						
						{% if language == 'en' %}
						{{ about.article_en | safe }}
						{% else %}
						{{ about.article_ge | safe }}
						{% endif %}
							
					</div>
				</div>
				<div class="col-lg-5 m-b30">
					<div class="dz-media">
						<img src="{{ about.image.url }}" alt="{{ about.title_en }}">
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Partners -->
	{% include 'web/partners.html' %}
	<!-- Partners -->
</div>
{% endblock content %}
