{% extends "web/base.html" %}
{% load static %}

{% block content %}
<div class="page-content bg-white">
	<section class="content-inner-2">
		<div class="container">
			<div class="row ">
				<div class="col-xl-12 col-lg-12 m-b30">
					{% if activity_slider_images %}
					<div class="swiper blog-slider-full">
						<div class="swiper-wrapper m-b5">
							{% for slider_image in activity_slider_images %}
								<div class="swiper-slide">
									<div class="dz-card style-2">
										<div class="dz-media">
										{% if language == 'en' %}
											<span data-exthumbimage="{{slider_image.image.url | safe}}" data-src="{{slider_image.image.url | safe}}" class="lightimg" title="{{slider_image.title_en}}">
												<img src="{{ slider_image.image.url }}" alt="{{ slider_image.title_en }}">
											</span>
											<span style="text-align:center;display:block;padding-top:5px">{{slider_image.title_en | safe}}</span>
										{% else %}
											<span data-exthumbimage="{{slider_image.image.url | safe}}" data-src="{{slider_image.image.url | safe}}" class="lightimg" title="{{slider_image.title_ge}}">
												<img src="{{ slider_image.image.url }}" alt="{{ slider_image.title_ge }}">	
											</span>
											<span style="text-align:center;display:block;padding-top:5px">{{slider_image.title_en | safe}}</span>
										{% endif %}
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="dz-card blog-single sidebar">
					{% else %}
					<div class="dz-card blog-single sidebar">
						<div class="dz-media">
							<img src="{{ activity.image.url }}" alt="{{ activity.title_en }}">
						</div>
						{% endif %}
						<div class="dz-info">
							<div class="dz-meta">
								<ul>
<!--
									<li class="post-date"><i class="fa-solid fa-calendar-days"></i> {{ activity.updated_on | date:"d.m.Y" }}</li>
									<li class="post-author"><a href="javascript:void(0);"><i class="fa-solid fa-user"></i> {{ activity.author}}</a></li>
-->
								</ul>
							</div>
							<div class="dz-post-text">
								<h1 class="dz-title">
								{% if language == 'en' %}
								{{ activity.title_en | safe }}</h1>
								{% else %}
								{{ activity.title_ge | safe }}</h1>
								{% endif %}
								
								{% if language == 'en' %}
									{{ activity.article_en | safe }}
								{% else %}
									{{ activity.article_ge | safe }}	
								{% endif %}
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
</div>
{% endblock content %}
				