{% extends "web/base.html" %}
{% load static %}

{% block content %}
<div class="page-content bg-white">
	<section class="content-inner-2">
		<div class="container">
			<div class="row ">
				<div class="col-xl-12 col-lg-12 m-b30">
					<div class="dz-card blog-single sidebar">
						<div class="dz-media">
							<img src="{{ activity.image.url }}" alt="{{ activity.title_en }}">
						</div>
						<div class="dz-info">
							<div class="dz-meta">
								<ul>
<!--
									<li class="post-date"><i class="fa-solid fa-calendar-days"></i> {{ activity.updated_on | date:"d.m.Y" }}</li>
									<li class="post-author"><a href="javascript:void(0);"><i class="fa-solid fa-user"></i> {{ activity.author}}</a></li>
-->
								</ul>
							</div>
							<div class="dz-post-text">
								<h1 class="dz-title">
								{% if language == 'en' %}
								{{ activity.title_en | safe }}</h1>
								{% else %}
								{{ activity.title_ge | safe }}</h1>
								{% endif %}
								
								{% if language == 'en' %}
									{{ activity.article_en | safe }}
								{% else %}
									{{ activity.article_ge | safe }}	
								{% endif %}
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
</div>
{% endblock content %}
				