{% extends "web/base.html" %}
{% load static %}

{% block content %}
<div class="page-content bg-white">
	<!-- Banner Start -->
	<div class="banner-one">
		<div class="container">
			<div class="row banner-inner">
				<div class="col-lg-8 col-md-7">
					<div class="banner-content">
						<h5 class="sub-title text-primary">
						{% if language == 'en' %}
							Welcome
						{% else %}
							Willkommen
						{% endif %}
						</h5>
						<h1 class="title">
							We help for Inclusion of Disabled People
						</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
						<a href="{% url 'about' %}" class="btn btn-secondary btnhover2 m-r15">
							{% if language == 'en' %}
								Learn More
							{% else %}
								Mehr erfahren
							{% endif %}
							<i class="flaticon-right-arrows ms-3 scale1"></i>
						</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-5">
					<div class="banner-media">
						<img src="{% static 'images/main-slider/pic1.png' %}" class="main-img" alt="">
						<div class="dz-media">
						</div>
					</div>
				</div>
			</div>
			<div class="dz-shape">
				<img src="{% static 'images/pattern/shape1.png' %}" class="shape-1 move-2" alt="shape">
				<img src="{% static 'images/pattern/shape2.png' %}" class="shape-2 move-2" alt="shape">
				<img src="{% static 'images/pattern/shape1.png' %}" class="shape-3 move-2" alt="shape">
				<img src="{% static 'images/pattern/shape2.png' %}" class="shape-4 move-2" alt="shape">
			</div>
		</div>
	</div>
	<!-- Banner End -->
	<!-- Our Blog  -->
	<section class="content-inner-2 section-pattren1">
		<div class="container">
			<div class="section-head text-center wow fadeInUp" data-wow-delay="0.2s">
				<h2 class="title">Project News</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			</div>
			<div class="swiper blog-slider-full">
				<div class="swiper-wrapper m-b5">
					<div class="swiper-slide">
						<div class="dz-card style-1 wow fadeInUp" data-wow-delay="0.2s">
							<div class="dz-media">
								<a href="Akcel/BlogDetails.html"><img src="{% static 'images/blog/blog-grid/pic4.jpg' %}" alt=""></a>
								<ul class="dz-badge-list">
									<li><a href="javascript:void(0);" class="dz-badge">HEALTH</a></li>
								</ul>
								<a href="Akcel/BlogDetails.html" class="btn btn-secondary">Read More</a>
							</div>
							<div class="dz-info">
								<h5 class="dz-title"><a href="Akcel/BlogDetails.html">New vaccine for cattle calf loss learned </a></h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et aliqua.</p>

								<div class="author-wrappper">
									<div class="author-media">
										<img src="{% static 'images/avatar/avatar2.jpg' %}" alt="">
									</div>
									<div class="author-content">
										<div class="author-head">
											<h6 class="author-name">Hawkins Junior</h6>
										</div>
										<ul class="author-meta">
											<li class="date">November 21th, 2022</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="dz-card style-1 wow fadeInUp" data-wow-delay="0.4s">
							<div class="dz-media">
								<a href="Akcel/BlogDetails.html"><img src="{% static 'images/blog/blog-grid/pic3.jpg' %}" alt=""></a>
								<ul class="dz-badge-list">
									<li><a href="javascript:void(0);" class="dz-badge">TECHNOLOGY</a></li>
								</ul>
								<a href="Akcel/BlogDetails.html" class="btn btn-secondary">Read More</a>
							</div>
							<div class="dz-info">
								<h5 class="dz-title"><a href="Akcel/BlogDetails.html">4 Things parents learned for they jids in 2020 </a></h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et aliqua.</p>

								<div class="author-wrappper">
									<div class="author-media">
										<img src="{% static 'images/avatar/avatar3.jpg' %}" alt="">
									</div>
									<div class="author-content">
										<div class="author-head">
											<h6 class="author-name">Tom wilson</h6>
										</div>
										<ul class="author-meta">
											<li class="date">November 21th, 2022</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="dz-card style-1 wow fadeInUp" data-wow-delay="0.6s">
							<div class="dz-media">
								<a href="Akcel/BlogDetails.html"><img src="{% static 'images/blog/blog-grid/pic2.jpg' %}" alt=""></a>
								<ul class="dz-badge-list">
									<li><a href="javascript:void(0);" class="dz-badge">EDUCATION</a></li>
								</ul>
								<a href="Akcel/BlogDetails.html" class="btn btn-secondary">Read More</a>
							</div>
							<div class="dz-info">
								<h5 class="dz-title"><a href="Akcel/BlogDetails.html">He Created the Web. Now He’s Out to Remake </a></h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et aliqua.</p>

								<div class="author-wrappper">
									<div class="author-media">
										<img src="{% static 'images/avatar/avatar4.jpg' %}" alt="">
									</div>
									<div class="author-content">
										<div class="author-head">
											<h6 class="author-name">Adam Jordon</h6>
										</div>
										<ul class="author-meta">
											<li class="date">November 21th, 2022</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<img src="{% static 'images/pattern/shape2.png' %}" class="shape-6 move-2" alt="shape">
		<img src="{% static 'images/pattern/shape3.png' %}" class="shape-5 move-1" alt="shape">
		<img src="{% static 'images/pattern/shape5.png' %}" class="shape-1 rotating" alt="shape">
		<img src="{% static 'images/pattern/shape1.png' %}" class="shape-3 move-1" alt="shape">
		<img src="{% static 'images/pattern/shape6.png' %}" class="shape-4 rotating" alt="shape">
		<img src="{% static 'images/pattern/shape6.png' %}" class="shape-2 rotating" alt="shape">
	</section>
	<!-- Our Blog End  -->
	<!-- Partners -->
	<section class="clients-wrapper wow fadeInUp" data-wow-delay="0.2s">
		<div class="container">
			<div class="section-head text-center">
				<h4 class="title">{% if language == 'en' %}Our Partners{% else %}Unsere Partner{% endif %}</h4>
			</div>
			<div class="swiper clients-swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="clients-logo">
							<img class="logo-main" src="{% static 'images/clients-logo/logo1.png' %}" alt="">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="clients-logo">
							<img class="logo-main" src="{% static 'images/clients-logo/logo2.png' %}" alt="">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="clients-logo">
							<img class="logo-main" src="{% static 'images/clients-logo/logo3.png' %}" alt="">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="clients-logo">
							<img class="logo-main" src="{% static 'images/clients-logo/logo4.png' %}" alt="">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="clients-logo">
							<img class="logo-main" src="{% static 'images/clients-logo/logo5.png' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Partners -->
</div>
        <!-- Footer -->
<footer class="site-footer style-1" id="footer">
	<!-- Footer Bottom Part -->
	<div class="footer-bottom">
		<div class="container">
			<div class="text-center">
				<div class="copyright-text">Copyright © 2024 <a href="https://inclusiondisabledpeople.com/" target="_blank">Inclusion</a>. All rights reserved.</div>
				<div class="web-author">Design &amp; Code: <a href="https://ozkanyazilim.com" target="_blank">Ozki</a></div>
				<div class="dz-social-icon style-1">
					<ul>
						<li><a target="_blank" class="fab fa-facebook-f" href="https://www.facebook.com/"></a></li>
						<li><a target="_blank" class="fab fa-instagram" href="https://www.instagram.com/"></a></li>
						<li><a target="_blank" class="fab fa-twitter" href="https://twitter.com/"></a></li>
						<li><a target="_blank" class="fab fa-youtube" href="https://youtube.com/"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer End -->

<button class="scroltop icon-up" type="button"><i class="fas fa-arrow-up"></i></button>
{% endblock content %}
