{% extends "web/base.html" %}
{% load static %}

{% block content %}
<div class="page-content bg-white">
	<!-- Banner Start -->
	<div class="banner-one">
		<div class="container">
			<div class="row banner-inner">
				<div class="col-lg-8 col-md-7">
					<div class="banner-content">
						<h5 class="sub-title text-primary">
						{% if language == 'en' %}Welcome{% else %}Willkommen{% endif %}
						</h5>
						<h1 class="title">
							{% if language == 'en' %}
								{{ home.welcome_title_en }}
							{% else %}
								{{ home.welcome_title_ge }}
							{% endif %}
						</h1>
						<p>
						{% if language == 'en' %}
							{{ home.welcome_description_en }}
						{% else %}
							{{ home.welcome_description_ge }}
						{% endif %}
						</p>
						<a href="{% url 'about' %}" class="btn btn-secondary btnhover2 m-r15">
							{% if language == 'en' %}Learn More{% else %}Mehr erfahren{% endif %}
							<i class="flaticon-right-arrows ms-3 scale1"></i>
						</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-5">
					<div class="banner-media">
						<img src="{{ home.welcome_image.url }}" class="main-img" alt="{{ home.welcome_title_en }}">
						<div class="dz-media">
						</div>
					</div>
				</div>
			</div>
			<div class="dz-shape">
				<img src="{% static 'images/pattern/shape1.png' %}" class="shape-1 move-2" alt="shape">
				<img src="{% static 'images/pattern/shape2.png' %}" class="shape-2 move-2" alt="shape">
				<img src="{% static 'images/pattern/shape1.png' %}" class="shape-3 move-2" alt="shape">
				<img src="{% static 'images/pattern/shape2.png' %}" class="shape-4 move-2" alt="shape">
			</div>
		</div>
	</div>
	<!-- Banner End -->
	<!-- Latest Activities  -->
	<section class="content-inner-2 section-pattren1">
		<div class="container">
			<div class="section-head text-center wow fadeInUp" data-wow-delay="0.2s">
				<h2 class="title">
					{% if language == 'en' %}
					{{ home.activities_title_en }}
					{% else %}
					{{ home.activities_title_ge }}
					{% endif %}
				</h2>
				<p>
					{% if language == 'en' %}
					{{ home.activities_description_en }}
					{% else %}
					{{ home.activities_description_ge }}
					{% endif %}
				</p>
			</div>
			<div class="swiper blog-slider-full">
				<div class="swiper-wrapper m-b5">

					{% for activity in activities  %}
					<div class="swiper-slide">
						<div class="dz-card style-1 wow fadeInUp" data-wow-delay="0.2s">
							<div class="dz-media">
								<a href="{% url 'activity' activity.slug %}"><img src="{{ activity.image.url }}" alt="{{ activity.title_en }}"></a>
								<a href="{% url 'activity' activity.slug %}" class="btn btn-secondary">{% if language == 'en' %}Learn More{% else %}Mehr erfahren{% endif %}</a>
							</div>
							<div class="dz-info">
								<h5 class="dz-title"><a href="{% url 'activity' activity.slug %}">
								{% if language == 'en' %}
									{{ activity.title_en | safe }}
								{% else %}
									{{ activity.title_ge | safe }}
								{% endif %}
								</a></h5>
								<p>
								{% if language == 'en' %}
									{{ activity.description_en | safe }}
								{% else %}
									{{ activity.description_ge | safe }}
								{% endif %}
								</p>
<!--
								<div class="author-wrappper">
									<div class="author-content">
										<div class="author-head">
											<h6 class="author-name">{{ activity.author }}</h6>
										</div>
										<ul class="author-meta">
											<li class="date">{{ activity.updated_on | date:"d.m.Y"}}</li>
										</ul>
									</div>
								</div>
-->
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<img src="{% static 'images/pattern/shape2.png' %}" class="shape-6 move-2" alt="shape">
		<img src="{% static 'images/pattern/shape3.png' %}" class="shape-5 move-1" alt="shape">
		<img src="{% static 'images/pattern/shape5.png' %}" class="shape-1 rotating" alt="shape">
		<img src="{% static 'images/pattern/shape1.png' %}" class="shape-3 move-1" alt="shape">
		<img src="{% static 'images/pattern/shape6.png' %}" class="shape-4 rotating" alt="shape">
		<img src="{% static 'images/pattern/shape6.png' %}" class="shape-2 rotating" alt="shape">
	</section>
	<!-- Latest Activities End  -->
	{% include 'web/partners.html' %}
</div>
{% endblock content %}
