{% extends "web/base.html" %}
{% load static %}

{% block content %}
<div class="page-content bg-white">
	<!-- Banner Start -->
	<div class="banner-one">
		<div class="container">
			<div class="row banner-inner">
				<div class="col-lg-8 col-md-7">
					<div class="banner-content">
						<h5 class="sub-title text-primary">
						{% if language == 'en' %}
							Welcome
						{% else %}
							Willkommen
						{% endif %}
						</h5>
						<h1 class="title">
							We help for Inclusion of Disabled People
						</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
						<a href="{% url 'about' %}" class="btn btn-secondary btnhover2 m-r15">
							{% if language == 'en' %}
								Learn More
							{% else %}
								Mehr erfahren
							{% endif %}
							<i class="flaticon-right-arrows ms-3 scale1"></i>
						</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-5">
					<div class="banner-media">
						<img src="{% static 'images/main-slider/pic1.png' %}" class="main-img" alt="">
						<div class="dz-media">
						</div>
					</div>
				</div>
			</div>
			<div class="dz-shape">
				<img src="{% static 'images/pattern/shape1.png' %}" class="shape-1 move-2" alt="shape">
				<img src="{% static 'images/pattern/shape2.png' %}" class="shape-2 move-2" alt="shape">
				<img src="{% static 'images/pattern/shape1.png' %}" class="shape-3 move-2" alt="shape">
				<img src="{% static 'images/pattern/shape2.png' %}" class="shape-4 move-2" alt="shape">
			</div>
		</div>
	</div>
	<!-- Banner End -->
	<!-- Our Blog  -->
	<section class="content-inner-2 section-pattren1">
		<div class="container">
			<div class="section-head text-center wow fadeInUp" data-wow-delay="0.2s">
				<h2 class="title">Latest Activities</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			</div>
			<div class="swiper blog-slider-full">
				<div class="swiper-wrapper m-b5">
					<div class="swiper-slide">
						<div class="dz-card style-1 wow fadeInUp" data-wow-delay="0.2s">
							<div class="dz-media">
								<a href="{% url 'activity' 'slug' %}"><img src="{% static 'images/blog/blog-grid/pic4.jpg' %}" alt=""></a>
								<a href="{% url 'activity' 'slug' %}" class="btn btn-secondary">Read More</a>
							</div>
							<div class="dz-info">
								<h5 class="dz-title"><a href="{% url 'activity' 'slug' %}">New vaccine for cattle calf loss learned </a></h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et aliqua.</p>

								<div class="author-wrappper">
									<div class="author-content">
										<div class="author-head">
											<h6 class="author-name">Hawkins Junior</h6>
										</div>
										<ul class="author-meta">
											<li class="date">November 21th, 2022</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="dz-card style-1 wow fadeInUp" data-wow-delay="0.4s">
							<div class="dz-media">
								<a href="{% url 'activity' 'slug' %}"><img src="{% static 'images/blog/blog-grid/pic3.jpg' %}" alt=""></a>
								<a href="{% url 'activity' 'slug' %}" class="btn btn-secondary">Read More</a>
							</div>
							<div class="dz-info">
								<h5 class="dz-title"><a href="{% url 'activity' 'slug' %}">4 Things parents learned for they jids in 2020 </a></h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et aliqua.</p>

								<div class="author-wrappper">
									<div class="author-content">
										<div class="author-head">
											<h6 class="author-name">Tom wilson</h6>
										</div>
										<ul class="author-meta">
											<li class="date">November 21th, 2022</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="dz-card style-1 wow fadeInUp" data-wow-delay="0.6s">
							<div class="dz-media">
								<a href="{% url 'activity' 'slug' %}"><img src="{% static 'images/blog/blog-grid/pic2.jpg' %}" alt=""></a>
								<a href="{% url 'activity' 'slug' %}" class="btn btn-secondary">Read More</a>
							</div>
							<div class="dz-info">
								<h5 class="dz-title"><a href="{% url 'activity' 'slug' %}">He Created the Web. Now He’s Out to Remake </a></h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et aliqua.</p>

								<div class="author-wrappper">
									<div class="author-content">
										<div class="author-head">
											<h6 class="author-name">Adam Jordon</h6>
										</div>
										<ul class="author-meta">
											<li class="date">November 21th, 2022</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<img src="{% static 'images/pattern/shape2.png' %}" class="shape-6 move-2" alt="shape">
		<img src="{% static 'images/pattern/shape3.png' %}" class="shape-5 move-1" alt="shape">
		<img src="{% static 'images/pattern/shape5.png' %}" class="shape-1 rotating" alt="shape">
		<img src="{% static 'images/pattern/shape1.png' %}" class="shape-3 move-1" alt="shape">
		<img src="{% static 'images/pattern/shape6.png' %}" class="shape-4 rotating" alt="shape">
		<img src="{% static 'images/pattern/shape6.png' %}" class="shape-2 rotating" alt="shape">
	</section>
	<!-- Our Blog End  -->
	{% include 'web/partners.html' %}
</div>
{% endblock content %}
